@inject IUserService  UserService
@inject INotificationService NotificationService
@{
    ViewData["Title"] = "LoggedHome";

    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var model = UserService.GetHomeViewDetails();
    var isThereAnAnnouncement = model.LatestAnnouncements.Any();
    var notificationsCount = NotificationService.GetNotificationsCount(userId);
    var chatroomMessages = UserService.GetAllChatroomMessages();
}

<div class="loggedHome container d-flex justify-content-around col-md-12 col-sm-6 card-group" style="margin-top:50px;">
    <div class="col-md-4 mb-5">
        <div class="col-md-12 card border border-dark">
            <div class="card-header text-center text-dark container-fluid">Last Published Books</div>
            @foreach (var s in model.LatestBooks)
            {
                <div class="card-body">
                    <h5 class="card-title">Title: @s.Title</h5>
                    <p class="card-text">@s.Summary</p>

                </div>
                <ul class="list-group list-group-flush">
                    @if (s.Author == null)
                    {
                        <li class="list-group-item">Author: @GlobalConstants.UnknownUser</li>
                    }
                    else
                    {
                        <li class="list-group-item">Author: @s.Author</li>
                    }
                    <li class="list-group-item">Genre: @s.Genre</li>
                    <li class="list-group-item">Published: @s.CreatedOn.ToShortDateString()</li>
                </ul>
                <div class="card-body">
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@s.Id" class="btn btn-info">Go to Book</a>
                </div>
                <hr />
            }

        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 col-sm-12 card border border-dark" style="min-height: 20em; min-width: 10em">
            <div class="card-header text-center text-dark">My Menu</div>
            <div class="card-body">
                <a class="btn btn-info btn-block" asp-action="Profile" asp-controller="Users" asp-area="" asp-route-username="@this.User.Identity.Name">My profile</a>
                <a asp-action="CreateBook" asp-controller="Books" class="btn btn-info btn-block">Create Book</a>
                <a asp-action="UserBooks" id="MyBooks" asp-controller="Books" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">My Books</a>
                <a asp-action="FollowedBooks" asp-controller="Books" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">Followed Books</a>
                <a asp-action="BlockedUsers" asp-controller="Users" asp-route-id="@this.User.Identity.Name" class="btn btn-info btn-block">Blocked Users</a>
                <a asp-action="AllBooks" asp-controller="Books" class="btn btn-info btn-block">All Books</a>
                <a asp-action="UserMessages" asp-controller="Messages" asp-route-userId="@userId" class="btn btn-info btn-block">
                    Control Panel
                    @if (notificationsCount > 0)
                    {
                        <span class="badge badge-danger">@notificationsCount</span>
                    }
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 card border border-dark" style="overflow: auto; margin-bottom: 20px;max-height:500px">
            <div class=" card-header text-center text-dark" style="overflow:auto">Announcements</div>

            @if (isThereAnAnnouncement)
            {
                foreach (var announcement in model.LatestAnnouncements)
                {
                    <div class="card-body w-100">
                        <h5 class="card-title">@announcement.Author</h5>
                        <h6 class="card-subtitle text-muted">@announcement.PublishedOn</h6>
                        <hr />
                        <p class="card-text" style="word-wrap: break-word">@announcement.Content</p>
                        <hr style="height: 2px" />
                    </div>
                }
            }
            else
            {
                <p class="text-info">No current announcements</p>
            }
        </div>
    </div>
    @*<div class="container row">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <input type="hidden" value="@this.User.Identity.Name" id="userInput"/>
                    Message...<input type="text" id="messageInput" />
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>*@
    <div class="container">
        <h2 class="text-center text-light" style="text-shadow: 2px 2px 5px black">Chat Room</h2>
        <div class="messaging">
            <div class="inbox_msg card col-md-12 border border-dark">
                <div class="mesgs">
                    <div class="msg_history" id="messageBox" style="overflow:auto">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                @foreach (var message in chatroomMessages)
                                {
                                    <p>@message.Username : @message.Content | @message.PublishedOn.ToString("t")</p>
                                }
                                <div id="messagesList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="hidden" value="@this.User.Identity.Name" id="userInput" />
                            <input type="text" id="messageInput" class="write_msg" placeholder="Type a message" />
                            <button class="msg_send_btn" id="sendButton" type="button">Send <i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
@section scripts{
    <script>
        $(document).ready(function(){
            $('#messageBox').animate({
                scrollTop: $('#messageBox')[0].scrollHeight}, 2000);
        });
    </script>
    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}