@model IEnumerable<AdminUsersOutputModel>
@inject IUserService UserService
@{
    ViewData["Title"] = "Users";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Books Count</th>
                        <th>Messages Count</th>
                        <th>Comments Count</th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Books Count</th>
                        <th>Messages Count</th>
                        <th>Comments Count</th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in Model)
                    {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Username</td>
                        <td>@user.Role</td>
                        <td>@user.BooksCount</td>
                        <td>@user.MessagesCount</td>
                        <td>@user.CommentsCount</td>
                        <td>
                            <a asp-action="EditRole" asp-controller="Admins" asp-area="Administration" asp-route-id="@user.Id" class="btn btn-info">Change Role</a>
                        </td>
                        <td>
                            <a asp-action="DeleteUser" asp-controller="Admins" asp-area="Administration" asp-route-id="@user.Id" class="btn btn-info">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


