@using System.Security.Claims
@inject IUserService  UserService
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@ViewData["Title"] - BookCreatorApp</title>


    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/linearicons.css">
    @*<link rel="stylesheet" href="/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/css/reset-css.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabs.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <!-- Stylesheet for the Messages Page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="~/img/logo.png" alt="" title="" /></a>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a class="nav-link" href="/">Home</a></li>
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <li><a class="nav-link" asp-controller="Users" asp-action="Login" asp-area="">Login</a></li>
                            <li><a class="nav-link" asp-controller="Users" asp-action="Register" asp-area="">Register</a></li>
                        }
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            var name = UserService.GetName(userId);
                            @if (this.User.IsInRole(GlobalConstants.Admin))
                            {
                                <li><a class="nav-link" asp-action="Index" asp-controller="Admins" asp-area="Administration">Administration</a></li>
                            }
                            <li><a class="nav-link" asp-action="Profile" asp-controller="Users" asp-area="" asp-route-username="@this.User.Identity.Name">Hello @name!</a></li>
                            <li><a class="nav-link" asp-controller="Users" asp-action="Logout" asp-area="">Logout</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="banner-area" id="home">
        @RenderBody()
    </section>
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Me</h6>
                        <p>
                            Nice to meet you! My name is Valentin Trifonov and I am a student in Software University. Also, currently studying in Vocational Secondary School of Electronics "John Atanasoff" - Stara Zagora.
                        </p>
                        <p class="footer-text">
                            Copyright &copy;
                            @DateTime.UtcNow.Year All rights reserved | Valentin Trifonov <i class="far fa-star"></i>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="https://fb.com/valentintrifonovv"><i class="fab fa-facebook"></i></a>
                            <a href="https://github.com/vallecbg"><i class="fab fa-github"></i></a>
                            <a href="https://instagram.com/_vallec_/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Messages Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>

</body>
@RenderSection("scripts", required: false)
</html>