@model ICollection<MessageOutputModel>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>SentOn</th>
                        <th>Message</th>
                        <th>Seen</th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>SentOn</th>
                        <th>Message</th>
                        <th>Seen</th>
                        <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var message in Model)
                    {
                        <tr>
                            <td>@message.Sender</td>
                            <td>@message.Receiver</td>
                            <td>@message.SentOn</td>
                            <td>@message.Text</td>
                            @if (!message.IsRead)
                            {
                                <td>
                                    <a asp-action="SeenMessage" asp-controller="Messages" asp-route-messageId="@message.Id" class="btn btn-info">Mark as seen</a>
                                </td>
                            }
                            else
                            {
                                <td>Yes</td>
                            }
                            <td>
                                <a asp-action="DeleteMessage" asp-controller="Messages" asp-route-messageId="@message.Id" class="btn btn-secondary">Archive</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


